<li>
	{{food}}

	<button class="devour" data-id="{{id}}" data-newsleep="{{sleep}}">
		{{#if sleep}}SLEEP TIME!{{else}}WAKE UP!{{/if}}
	</button>

	<button class="buy-more" data-id="{{this.id}}">DELETE!</button>
</li>